<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeJS Sample Project</title>

  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/barebones.css">
</head>
<body>
  <div class="grid-container">
    <h1>Hello world</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil omnis facilis est dolorem tempore, ipsum dolores quibusdam officia pariatur quod sequi vero aliquid iste, hic cumque odio vitae odit facere.</p>
    <p><%= message %></p>
  </div>
</body>
</html>